body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('../assets/pattern.png');
  background-position: center;
  background-color: #fff;
}

header {
  border-top: 3px solid #fff;
  color: #fff;
  text-shadow:
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000,
    2px 2px 2px #000;  
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 33px 0 25px 15px;
  display: flex;
}

header h1 {
  font-family: 'Chivo', sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 auto;
  vertical-align: middle;
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.add-item {
  display: flex;
  border-radius: 10px;
  border-top: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  width: 100%;
}

.display-item {
  width: 100%;
}

.display-item button {
  margin: 10px;
  margin-left: auto;
}

.add-item form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.storeMain {
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  margin-top: 40px;
}

input {
  border-radius: 10px;
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  border: 0;
  display: inline-block;
  width: 50%;  
}

ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  list-style-type: none;
  background-color: rgb(237, 237, 237);
  color: #000;
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  margin: 0;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  padding: 15px;
}

form button {
  width: 30%;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  min-width: 88px;
  background-color: #000;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 5px;
}

.card-header {
  background-color: #FFE94B;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.itemList {
  display: block;
  width: 100%;
}

.itemList ul {
  display: flex;
  justify-content: space-around;
}

.itemList li {
  border-radius: 10px;
  align-items: center;
  font-size: 25px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  background-color: rgb(237, 237, 237);
  color: #000;
}

form {
  display: flex;
  justify-content: space-between;
}

.storeInput {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.storeInput input {
  padding: 12px;
  border-radius: 10px;
}

.storeInput button {
  border-radius: 10px;
  font-size: 16px;
  min-width: 60px;
  margin-left: auto;
}

.strikethru {
  text-decoration: line-through;
}